* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;


    border: 1px solid black
}
/* header */

.header {
    background-color: blue;
    border: 1px solid black;
    height: 200px;
}

.header-top {
    height: 40px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.logo,
.link,
.login {
    border: 1px solid black;
    background-color: darkkhaki;
    padding: 10px
}

.header-bottom {
    background-color: fuchsia;
    height: 100px;
    width: 200px;
    margin: 20px;

}

.box1 {
    display: flex;
    justify-content: center;
}

/* main */

.col-70 {
    background-color: lightskyblue;
    width: 70%;
    height: 200px;

}

.col-30 {
    background-color: lightpink;
    width: 30%;
    height: 200px;
}

.row {
    display: flex;

    padding: 10px;
    margin: 10 auto;

}

.section1 {
    border: 1px solid black;

}
.section2 {
    background-color: lightgray;
}
.col-100 {
    background-color: chartreuse;
    width: 200px;
    height: 200px;
}
.row4 {
    display: flex;
    justify-content: center;
    height: 250px;
}
.section4 {
    background-color: lightgray;
}

/* footer */

.footer {
    background-color: black;

}
.blocco1 {
    background-color: lightcoral;

}
.same {
    width: calc(70%/4);
    background-color: cadetblue;
}